@font-face {
  font-family: 'Pictos-Font';
  src:
      url('../fonts/pictos-web.eot') format('eot'), 
      url('../fonts/pictos-web.woff') format('woff'),
      url('../fonts/pictos-web.ttf') format('truetype'),
      url('../fonts/pictos-web.svg#webfontphKv1xv9') format('svg');
  font-weight: normal;
  font-style: normal;
}

$blue: darken(#19284C, 3%);
$red: #B2212F;
$background: darken(#2D3E4F,5%);
$lightTeal: #61D4C5;
$darkTeal: #39C9B6;


body {
  padding: 0;
  margin: 0;
  background-color: #fff;
  font: 15px/1.65 'Helvetica Neue', Helvetica, sans-serif;
  color: darken(#53575C,2%);
}

a {
 color: rgba(136,200,0,.5);
 font-weight: bold;
 text-decoration: none;
}

ol, ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4 {
  padding: 0;
  margin: 0;
  font-weight: 600;
}

h1 {
  font-family: 'Cubano';
  font-size: 96px;
  line-height: 1;
  padding-top: 30px;
  font-weight: normal;
  font-style: normal;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0,0,0,.6);
}

h2 {
  font-size: 30px;
}

.container {
  clear: both;
  overflow: hidden;
  width: 70%;
  margin: 0 auto;
}

header {
  background-color: $background;
}

nav {
  float: right;
  padding: 20px 0;

  a {
    color: #fff;
    font-size: 13px;
    margin-left: 10px;
    text-shadow: 0 -1px 1px rgba(0,0,0,.5);
  }
}

.hero-unit {
  padding: 0 0 80px 0;
  background-color: $background;

  p {
    font-weight: 500;
    margin-top: 12px;
    color: #999;
    text-shadow: 0 -1px 1px rgba(0,0,0,.3);
  }
}

.buckets {
  padding: 32px 0;
  width: 100%;

  li {
    width: 28.6%;
    float: left;
    box-sizing: border-box;
    padding: 15px 0 20px 0;
    font-size: 14px;

    h2 {
      display: block;
      width: 100%;
      font-size: 20px;
      line-height: 32px;
      clear: both;
      overflow: visible;
    }

    p {
      margin: 12px 0 0 0;
      padding: 0;
      font-size: 13px;
    }
  }

  .ss-icon {
    display: inline-block;
    float: right;
    font-size: 30px;
    line-height: 30px;
    color: rgba(136,200,0,.5);
    text-shadow: 0 1px 0 rgba(255,255,255,1);
  }

  .middle {
    margin: 0 7%;
  }
}

.contributors { 
  display: block;
  clear: both;
  overflow: hidden;

  a {
    padding: 0;
    margin: 0;
  }

  img {
    display: block;
    float: left;
    height: 38px;
    width: 38px;
    margin: 6px;
    border: 1px solid #000;
    border-radius: 2px;

  }
}

footer {
  margin: 80px 0 0 0;
  background-color: #eee;
  clear: both;
  overflow: hidden;
}
